.app {
  margin: 0 auto;
  height: 600px;
  display: grid;
  grid-template-areas: 
  "header header "
  "content nav";
  grid-template-columns: 10fr 3fr;
  grid-template-rows: 80px 1fr;
  grid-gap: 10px;
}

.content {
  background: lightgray;
 }
 


